body {
    padding-top: 105px;
}

.logo {
    height: 40px;
}

.btn-icon-header {
    width: 36px;
    height: 36px;
}

.btn-icon-header i {
    font-size: 1rem; /* Slightly smaller than fs-5 */
}

.btn-icon-header:hover {
    background-color: #f0f0f0;
}

.menu-search-bar input{
    background-color: #f8f9fa;
}

.menu-search-bar input:focus{
    background-color: #f8f9fa;
    box-shadow: none;
    border-color:#dee2e6;
}

.hero-sell {
    background: url('/background-home-01.jpeg') no-repeat center center;
    background-size: cover;
    min-height: 500px;
    padding: 60px 0;
    /* color: #fff; */
    position: relative;
}

.hero-sell .bg-white {
    z-index: 2;
    position: relative;
}

.hero-sell::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgb(2 2 2 / 8%);
    z-index: 1;
}

.hero-sell .text-center a{
    color: #ec4625;
    text-decoration: none;
}

.product-card {
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.02);
}

.bg-light a:hover {
    text-decoration: underline;
}


/* Gradient button style */
.artify-btn {
    background: linear-gradient(to right, #FF6A00, #D4145A);
    border: none;
    color: white !important;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 600;
    transition: background 0.3s ease;
}

.artify-btn:hover {
    opacity: 0.9;
}

/* Gradient outline button style */
.artify-btn-outline {
    border: 1px solid #D4145A;
    color: #D4145A !important;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.artify-btn-outline:hover {
    background-color: #D4145A;
    color: white !important;
}

/* Category links */
.menu-category .container{
    padding: 0px 0px!important;
}

.menu-category .container .category-link {
    font-weight: 500;
    color: #333;
    text-decoration: none;
    pointer-events: auto;
    padding: 10px 5px;
    border: 2px solid #f8f9fa;
}

.menu-category .container .category-link:hover {
    text-decoration: none; /* remove underline on hover */
    color: #333;           /* no color change */
    /* background-color: #D4145A; */
    border-top-color: #ec4625;
    /* background-color: #ccc; */
}

/* PAGINATOR */
.page-item.active .page-link {
    background-color: #ff6a00;
    border-color: #ff6a00;
    color: #fff;
}

.page-link {
    color: #ff6a00;
}

.page-link:hover {
    background-color: #fff2e6;
    border-color: #ff6a00;
    color: #ff6a00;
}